<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tuning Cars{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <h1>Tuning Cars - Personaliza tu vehículo</h1>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>Copyright © 2025 Tuning Cars. Todos los derechos reservados.</p>
    </footer>
</body>
</html>