<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Los Santos Custom{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="banner">
        <img src="{{ url_for('static', path='images/lossantoscustom.jpg') }}" alt="Banner de Los Santos Custom">
    </div>
    <div class="navbar">
        <a href="/gallery">Explorar Marcas</a>
        <a href="/contact">Contáctanos</a>
        <a href="/sobre-nosotros">Sobre Nosotros</a>
        <a href="/servicios">Servicios</a>
        <a href="/">Inicio</a>
    </div>
    
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Copyright © 2025 Los Santos Custom. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
