{% extends "base.html" %}

{% block title %}Marcas de Coches{% endblock %}

{% block content %}
<div class="main-content">
    <h2>Marcas de Coches para Modificar</h2>
    <div class="gallery">
        <!-- Enlace a la página de BMW -->
        <a href="/marca/bmw">
            <img src="{{ url_for('static', path='images/bmw.jpg') }}" alt="BMW">
            <p style="text-align: center; color: white;">BMW</p>
        </a>
        <!-- Enlace a la página de Mitsubishi -->
        <a href="/marca/mitsubishi">
            <img src="{{ url_for('static', path='images/mitsubishi.jpg') }}" alt="Mitsubishi">
            <p style="text-align: center; color: white;">Mitsubishi</p>
        </a>
        <!-- Enlace a la página de Subaru -->
        <a href="/marca/subaru">
            <img src="{{ url_for('static', path='images/logosubaru.jpg') }}" alt="Subaru">
            <p style="text-align: center; color: white;">Subaru</p>
        </a>
    </div>
    <button onclick="location.href='/'">Volver a la Página Principal</button>
</div>
{% endblock %}
