{% extends "base.html" %}

{% block title %}Marcas de Coches{% endblock %}

{% block content %}
<div class="main-content">
    <h2>Marcas de Coches para Modificar</h2>
    <div class="gallery">
        <div class="car-logo">
            <img src="{{ url_for('static', path='images/bmw.jpg') }}" alt="BMW">
            <p>BMW</p>
        </div>
        <div class="car-logo">
            <img src="{{ url_for('static', path='images/mitsubishi.jpg') }}" alt="Mitsubishi">
            <p>Mitsubishi</p>
        </div>
        <div class="car-logo">
            <img src="{{ url_for('static', path='images/logosubaru.jpg') }}" alt="Subaru">
            <p>Subaru</p>
        </div>
    </div>
    <button onclick="location.href='/'">Volver a la Página Principal</button>
</div>
{% endblock %}
