{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="hero-banner">
        <div class="hero-text">
            <h1>Bienvenido a Los Santos Custom</h1>
            <p>¡Haz que tu coche se vea como nunca antes con nuestras modificaciones personalizadas!</p>
            <a href="#services" class="cta-button">Descubre nuestros servicios</a>
        </div>
    </div>

    <div class="main-content">
        <section class="intro">
            <h2>¿Quiénes Somos?</h2>
            <div class="intro-content">
                <p>En Los Santos Custom, nos especializamos en ofrecer modificaciones de alto rendimiento y estilo para tu coche. Ya sea que busques un aspecto único, mayor potencia o personalización en cada detalle, tenemos lo que necesitas. ¡Acompáñanos y haz que tu coche sea verdaderamente tuyo!</p>
                <img src="{{ url_for('static', path='images/garaje.jpg') }}" alt="Quiénes Somos">
            </div>
        </section>

        <section class="services" id="services">
            <h2>Nuestros Servicios</h2>
            <div class="services-container">
                <div class="service-item">
                    <img src="{{ url_for('static', path='images/e46.jpg') }}" alt="Tuning">
                    <h3>Tuneo de Coche</h3>
                    <p>Transformamos tu coche en una obra de arte con mejoras de rendimiento y estética.</p>
                </div>
                <div class="service-item">
                    <img src="{{ url_for('static', path='images/motor.jpg') }}" alt="Modificacion de motor">
                    <h3>Modificaciones de Motor</h3>
                    <p>Potencia tu coche con los mejores motores y piezas del mercado.</p>
                </div>
                <div class="service-item">
                    <img src="{{ url_for('static', path='images/BMW-BBS.jpg') }}" alt="Ruedas Personalizadas">
                    <h3>Ruedas Personalizadas</h3>
                    <p>Le damos el toque final a tu coche con llantas personalizadas y neumáticos de alta calidad.</p>
                </div>
            </div>
        </section>

        <section class="cta">
            <h2>¿Estás listo para mejorar tu coche?</h2>
            <p>No pierdas la oportunidad de transformar tu vehículo en algo único.</p>
            <a href="/contact" class="cta-button">Contáctanos ahora</a>
        </section>
    </div>
{% endblock %}
